<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Winform.Properties.NVRAccessSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Winform.Properties.HTTPAccessSetting" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.3.0" newVersion="4.4.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Winform.Properties.NVRAccessSetting>
      <setting name="RTSP_HEADER" serializeAs="String">
        <value>rtsp://</value>
      </setting>
      <setting name="NVR_IP" serializeAs="String">
        <value>192.168.10.124</value>
      </setting>
      <setting name="NVR_USER_NAME" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="NVR_USER_PW" serializeAs="String">
        <value>Tjxldnpdj2018!</value>
      </setting>
      <setting name="HTTP_HEADER" serializeAs="String">
        <value>http://</value>
      </setting>
    </Winform.Properties.NVRAccessSetting>
    <Winform.Properties.HTTPAccessSetting>
      <setting name="ACCESS_RTSP_HEADER" serializeAs="String">
        <value>rtsp://</value>
      </setting>
      <setting name="NVR_IP" serializeAs="String">
        <value>192.168.10.124</value>
      </setting>
      <setting name="NVR_USER_NAME" serializeAs="String">
        <value>admin</value>
      </setting>
      <setting name="NVR_USER_PW" serializeAs="String">
        <value>Tjxldnpdj2018</value>
      </setting>
    </Winform.Properties.HTTPAccessSetting>
  </userSettings>
</configuration>